<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.email">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
        Zasto android:required="false" ? Ako naša aplikaciju korisit neku feature (npr. kameru) mi bi trebali da
        obavestiomo Android o tome.

        Po default-u, ako deklairšemo da naša aplikacija koristi neki feature, u ovom slučaju kameru, to znači da naša applikacija
        neće pravilno raditi bez tog feature-a. Medjutim, u našoj aplikaciji ovo nije slucaj, jer smo pozvali metodu
        resolveActivity() kako bi smo proverili ispravnost i dostupnost Camera aplikacije na uredjaju. Ukoliko nije dostupna,
        disable-ovali smo dugme. Prosledjujuci vrednost "false" znaci da mi govorimo Androidu da nasa aplikacija moze da radi bez
        kamere, ali kao posledica toga, neke funkcionalsnosti aplikacije nece raditi/biti dostupne. Takodje, da nismo
        dodali dodatni parmetar android:required="", Google Play bi ogranicio vidljivost nase aplikacije samo na uredjaje koje imaju
        kameru.
    -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.TagsActivity"
            android:configChanges="screenSize|orientation|screenLayout"
            android:theme="@style/AppTheme.NoActionBar"

            ></activity>
        <activity
            android:name=".activities.SendEmailActivity"
            android:configChanges="screenSize|orientation|screenLayout"
            android:parentActivityName=".activities.EmailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FolderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.EmailActivity"
            android:parentActivityName=".activities.EmailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.CreateContactActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateFolderActivity"
            android:theme="@style/PopUpTheme" />
        <activity
            android:name=".activities.EmailsActivity"
            android:configChanges="screenSize|orientation|screenLayout"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FoldersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactActivity"
            android:label="Contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactsActivity"
            android:label="Contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AccountActivity"
            android:label="Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        -->
        <activity
            android:name=".activities.ActivityZaTest"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.email.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>